<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html> 
<head> 
	<meta content="text/html; charset=utf-8" http-equiv="content-type"> 
<title>Html2XhtmlOnline - XHTML validation and conversion</title> 
	<meta content="Html2XhtmlOnline enables you to easily and quickly convert html to xhtml without downloading or installing any new software." name="description"> 
	<meta content="html 2 xhtml validation conversion checker convertor errors warnings tidy online jtidy text convertor online free open source" name="keywords"> 
<head> 
<body>	
<div align="center">
<font size="10"><font color="purple">Html</font>2<font color="orange">Xhtml</font> convertor <img src="/static/images/logo-beta.jpg"/></font>
<a href="#" onclick="document.getElementById('usage').style.display= document.getElementById('usage').style.display == 'block' ? 'none' : 'block';"/>?</a>
<div >
 <ul style="display:none;" align="left" id="usage">
 <li><b>RESTful URL</b> : jshoutbox.appspot.com/(h2x or html2xhtml)/(http://){URL} <br/>Eg: ./h2x/yahoo.com <br/>&nbsp;&nbsp;&nbsp;&nbsp; ./html2xhtml/http://yahoo.com </li>
 <li>Upload your local html file </li>
  <li>Submit html as text</li>
  <li>Submit URL to check XHTML compliance</li>
 </ul>
 </div>
 <br/>
  
	<br/>
	
	<table>
	<tr><td>&nbsp;</td>
	<form method="post" action="/h2x" enctype="multipart/form-data">
    <td>
	    <input type="file" name="file" />
     </td>
     <td> <input type="submit" value="Check file"/></td>
	</form>
	</tr>
	<tr><td >&nbsp;</td><td ><b>OR</b></td></tr>
	<tr>
	<td>&nbsp;</td>
	<form method="post" action="/h2xText" >
	<td>
	    <textarea name="html" cols="50" rows="4">#if($html)$escapeTool.escapeHtml($html)#end</textarea>
	
	</td>
	<td> <input type="submit" value="Check html"/></td>
	</form>
	</tr>
	<tr><td >&nbsp;</td><td ><b>OR</b></td><tr>
	<tr>
	<td >&nbsp;</td>
	<td><form id="urlForm" method="get" action="/h2x" >
	    <input id="urlInput" type="text" name="url" value="$!url"/>
		</form>
	</td>
	<td> <input type="button" value="Check url" onclick="document.getElementById('urlForm').action='/h2x/'+document.getElementById('urlInput').value; document.getElementById('urlForm').submit()"/></td>
	</tr>
</table>
<hr/>
<div>
	<table>
	#if($result)
	<tr><td>XHTML :</td>
	<td> 
	<textarea cols="100" rows="15" >$escapeTool.escapeHtml($!result)</textarea>
	</td>
	</tr>
	#end
	#if($error)
	<tr><td>Error / Warnings :</td>
	<td> 
		<textarea cols="100" rows="8" style="background:#if($error.contains("no error"))${esc.getHash()}4AA02C#else${esc.getHash()}F76541#end">$escapeTool.escapeHtml($!error)</textarea>
	#end
	</td>
	</tr>
</table>
</div>
<br/>


</div>

<a href="/"> home</a>
</body>
</html>
