body {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	background: white;
	color: black;
	font-size: 12px;
}
#globalNavContainer,#navContainer,#contentLeft,#contentLeftSubMenu,#contentLeftStandard,#banner, #leftNav,.breadcrumb,#headerImageText,#contentRightSubMenu,#contentRight,#contentRightStandard,#footer {
	display: none;
}
#content {
	margin: 0 5%;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
}
a {
	color:#333;
	text-decoration: none;
	font-weight: bold;
}