
/***************************************************************

Doc:		cascading style sheets for ORCA

Date:		20 Feb 2007

Author:		Denise Ross		denise.x.ross@jpmorgan.com

Comment: 					

***************************************************************/

@import url(layout.css);
@import url(menus.css);
@import url(fonts.css);
@import url(forms.css);
@import url(lists.css);
@import url(tabcontent.css);
@import url(tables.css);
@import url(screen.css);