<div id="header">
	<div id="logo">
	<h1><a href="/index.html"><img alt="J ShoutBox" src="http://i102.photobucket.com/albums/m85/doh_doh-/istockphoto_3049957_shout_out.jpg" width="140" height="120"/></a></h1>
	</div>
</div> 


