<div align="center">
<h1>
<font color="green">File</font><font color="orange">Uploader</font>#parse("common/beta.vm")
</h1>
<br/>
<font color="green"><b>$!message </b> </font>
#if($!action eq 'edit')
#set($path="save/$file.id")
#else
#set($path="upload")
#end

<form method="post" action="/file/$path"  enctype="multipart/form-data"> 
	  
	  <input type="hidden" name="fileId" value="#if($!action eq 'edit')$file.id#end"/>
	   <table>
	    <tr><th>#if($!action eq 'edit')File id: $file.id#else Go on... Upload a file! (Max limit 1 MB)#end</th>
	    <td>&nbsp;</th>
	    </tr>
				     <tr><td>Caption</td> <td> <input type="text" name="caption" value="#if($!action eq 'edit')$!file.caption#end"/></td> </tr>
     <tr><td>Category</td> <td> <input type="text" name="category" value="#if($!action eq 'edit')$file.category#end"/></td> </tr>
		     <tr><td>Tags</td> <td> <input type="text" name="tag" value="#if($!action eq 'edit')$file.tag#end"/></td> </tr>
		     <tr><td>Upload file</td> <td> <input name="file" type="file" value=""/>#if($!action eq 'edit')$!file.name#end</td> </tr>
    <tr><td>Or upload text</td> <td> <textarea cols=90 rows=20 name="text">#if($!action eq 'edit')$!file.contentText#end</textarea/></td> </tr>
  	   <tr>  <td>   &nbsp; </td> 	   <td>
   			<input type="submit" name="" value="#if($!action eq 'edit')edit#else add#end" ></input> 
   			<a href="/">Cancel</a>
       </td>
       </tr>
       </table>
</form>


</div>