<div style="float:left">
 <img src="http://weblogs.java.net/blog/felipegaucho/archive/ae_gwt_java.png"/>
 </div>
<div align="center">
<h1>Welcome!</h1>
</div>

<div style="padding-left:20em">
 The following RESTful(Spring 3.0) services are powered by Google App Engine :
 
<br/>
<font size="6">
 <ul>
   <li><a href="/pdf2text"> Free Pdf to Text conversion </a></li>
   <li><a href="/yuml/[Customer][Address],[Group]"> Yuml to Java code generator </a></li>
   <li><a href="/mail"> Send e-mail for free online </a></li>
   <li><a href="/shout"> Shout </a></li>
   <li><a href="/html2Xhtml"> Html 2 Xhtml Online</a></li>
   
 </ul>
 </font>
 <br/>
 
</div>