Send email :<img src="/static/images/logo-beta.jpg"/>
<div align="center">
<br/>
<b>$!message </b>
<form method="post" action="/mail.html"> 
<table>
<tr>
<td>
From:
</td>
<td>
	<input type="text" name="from"/>
</td>
</tr>

<tr>
<td>
To:
</td>

<td>
<input type="text" name="to"/>
</td>
</tr>

<tr>
<td>
Subject:
</td>

<td>
<input type="text" name="subject"/>
</td>
</tr>

<tr>
<td>
Password:
</td>

<td><input type="password" name="password" />
</td>
</tr>

<tr>
<td>

   Message :
</td>

<td>		<textarea name="message" cols="80" rows="10">$!form.subject</textArea> <br/>
</td>
</tr>


<tr>
<td colspan="2">
   <input type="submit" value="mail" name="mail"/>
   </td>
</tr>
</table>   
</form>
<br/>
<div style="float:left">
<a href="#" onclick="document.getElementById('usage').style.display= document.getElementById('usage').style.display == 'block' ? 'none' : 'block';"/>Usage</a>
<div style="float:none">
 <ul style="display:none;" id="usage">
 <li>1. Send mail using just a <b>RESTful URL</b> : /mail/from:{from email},to:{to email},subject:{subject},password:{password} <br/>Eg: <b>/mail/from:blah@gmail.com,to:blahtoh@gmail.com,subject:hi,body:how are you doing!,password:***</b> </li>
 <li>2. Submit the email form</li>
 
 </ul>
 </div>
 <br/>
 
<a href="/"> home</a>
</div>
</div>