/***************************************************************
                lists
 ***************************************************************/
#left ul {
	list-style-type: none;
	padding: 0px;
}
#left ul li {
	padding-bottom: 5px;
}
#left ul li.current {
	font-weight: bold;
}
.subMenu {
	background: url(../images/submenu_bg.jpg) repeat-x;
	padding-left: 10px;
	padding-top: 7px;
	margin: 0px;
	font-size: 100%;
	height: 23px;
}
.subMenu ul {
 	list-style-type: none;
}
.subMenu li {
	display: inline;
}
.selected {
	background: url(../images/selected.gif) no-repeat left top;
}
