		.list1 {margin: 5px 0px 0px 5px; padding: 0px 0px 0px 5px; list-style-position: outside;}
		.list1 li {margin: 0px 0px 0px 5px; padding: 0px 0px 4px 0px; list-style-position: outside; list-style-image: url(images/arrow-gry.gif) ; font:normal 11px arial; color:#919191;}
		.boldgreen {background:url(images/arrow-grn-4x7.gif) no-repeat center left; font:bold 12px arial; color:#669900; padding-left:10px; border-bottom:solid 1px #E5E5E5; padding-top:5px; padding-bottom:5px;}
		td {font:normal 12px arial}
		#regform {width: 100%; border: 0px solid #000;}
		#regform .div1	{width: 100%; float: left; text-align: left;}
		.tblreg {margin: 0 0 0 0px;}
		.input input {width: 13px; height: 13px; margin: 0 5 0 0px; padding: 0px;}
		.tblreg tr td {padding: 8 1 3 1px; vertical-align: top;}
		.tblreg .spacer td {line-height: 1px; border-bottom: 1px solid #E5E5E5; padding: 3 0 0 0px;}
		.smallgrey {line-height: 15px; color:#7F7F7F}
		.tblreg tr td label {display: block; cursor:pointer; cursor:hand; font-weight: bold;}
		.tblreg tr td .l2 {display: inline; font-weight: normal; line-height: 20px;}
		.field_err {font:normal 11px tahoma;background-color:#FFE6E6; border: 1px solid #7F9DB9; width:154px;}
		.field {font:normal 11px tahoma;background-color:#FFFFE0; border: 1px solid #7F9DB9; width:154px;}
		.field_filled {font:normal 11px tahoma;background-color:#FFFFFF; border: 1px solid #7F9DB9; width:154px;}
		.field_filled_disable {font:normal 11px tahoma;background-color:#F3F3F3; border: 1px solid #817A7A; width:154px;}
		.field_err1 {font:normal 11px tahoma;background-color:#FFE6E6; border: 1px solid #7F9DB9; }
		.field1 {font:normal 11px tahoma;background-color:#FFFFE0; border: 1px solid #7F9DB9; }
		.field_filled1 {font:normal 11px tahoma;background-color:#FFFFFF; border: 1px solid #7F9DB9;}
		.swidthtext {font:normal 11px arial;background-color:#FFFFE0;}
		.hint {display: none; position: absolute; left: 67%; width: 200px; margin-top: -23px; padding: 0px; z-index:100}
		.hint_special {display: none; position: absolute; left: 67%; width: 200px; margin-top: -23px; padding: 0px; z-index:100}
		.hint_gender {display: none; position: absolute; left: 67%; width: 200px; margin-top: -23px; padding: 0px; z-index:100}
		.hint_dob {display: none; position: absolute; left: 67%; width: 200px; margin-top: -23px; padding: 0px; z-index:100}
		.hint_display_options {display: none; position: absolute; left: 68%; width: 200px; margin-top: -23px; padding: 0px; z-index:100}
		.hint_describe_yourself {display: none; position: absolute; left: 77%; width: 200px; margin-top: -23px; padding: 0px; z-index:100}
		.hint_educationlevel {display: none; position: absolute; left: 66%; width: 200px; margin-top: -20px; padding: 0px; z-index:100}
		.hint_family {display: none; position: absolute; left: 75%; width: 200px; margin-top: -24px; padding: 0px; z-index:100}
		.hint_contact_number {display: none; position: absolute; left: 56%; width: 200px; margin-top: -43px; padding: 0px; z-index:100}
		.hint_newlogin {display: none; position: absolute; left: 48%; width: 200px; margin-top: -21px; padding: 0px; z-index:100}
		.error {font: normal 11px tahoma; color:#D55601; line-height:15px;}
		em {padding-right:5px;color:#7F7F7F}
		.td1 label	{cursor:pointer; cursor:hand;}
