#box{
	width: 100%; background: #FFF7E7; text-align: left;
	border: 1px solid #FCE2AF;
}
.top1 {height: 10px; background: #CCCCCC url('images/mid-top.gif'); overflow: hidden;}
.top1 .l1	{float: left; background: #CCCCCC url('images/corner-01.gif');}
.top1 .r1	{float: right; background: #CCCCCC url('images/corner-02.gif');}

.btm1 {height: 10px; background: #CCCCCC url('images/mid-btm.gif'); overflow: hidden;}
.btm1 .l1	{float: left; background: #CCCCCC url('images/corner-03.gif');}
.btm1 .r1	{float: right; background: #CCCCCC url('images/corner-04.gif');}

.top1 .l1, .top1 .r1,
.btm1 .l1, .btm1 .r1	{width: 10px; height: 10px;}

label	{padding-right: 5px; cursor: pointer; display: block;}
.xxsmallgrey	{font: normal 10px Tahoma; color: #999999;}

#regform			{width: 100%; border: 0px solid #000;}
#regform .div1	{width: 400; float: left; text-align: left;}
.input input		{width: 13px; height: 13px; margin: 0 5 0 0px; padding: 0px;}
.smallgrey 			{line-height: 15px; color:#7F7F7F}

.field			{background-color:#FFFFE0; width: 163px; border: 1px solid #7F9DB9; font: normal 11px Tahoma; color: #333333;}
.field_err		{background-color:#FFE6E6; width: 163px; border: 1px solid #7F9DB9; font: normal 11px Tahoma; color: #333333;}
.field_filled	{background-color:#FFFFFF; width: 163px; border: 1px solid #7F9DB9; font: normal 11px Tahoma; color: #333333;}
.field_dob		{background-color:#FFFFE0; font: normal 11px Tahoma; color: #333333;}
.field_dob_err	{background-color:#FFE6E6; font: normal 11px Tahoma; color: #333333;}
.field_dob_filled	{background-color:#FFFFFF; font: normal 11px Tahoma; color: #333333;}
.hint	{display:none; position:absolute; left:50%; width:200px; margin-top:-20px; padding:0px; z-index:100}
.error		{font: normal 11px tahoma; color:#D55601; line-height:15px;}
.tblreg				{margin: 0 0 0 0px;}
.tblreg tr td		{padding: 8 1 3 1px; vertical-align: top;}
.tblreg .spacer td	{line-height: 1px; border-bottom: 1px solid #E5E5E5; padding: 3 0 0 0px;}
.tblreg tr td label	{display: block; cursor:pointer; cursor:hand; font-weight: bold;}
.tblreg tr td .l2	{display: inline; font-weight: normal; line-height: 20px;}
