						#pager	{border: 0px solid #000; margin-bottom: 3px;}

						#containermain	{overflow: hidden; text-align: center;}

						#containermain1	{overflow: hidden; text-align: center;}

						#container	{width: 760px; padding-bottom: 3px; background: url('images/pager-btm.gif') repeat-x bottom center; }
						html>body #container	{width: 762px;}

						#container2	{padding-bottom: 2px; background: #B6EAFF url('images/bg-pager.jpg') no-repeat top center; text-align: right; border-left: 1px solid #014384; border-right: 1px solid #014384; border-bottom: 1px solid #014384; margin-top: 0px;}

						#btn	{text-align: center; vertical-align: top;}

						#btn img	{height: 20px; margin: 15 0px; border: none;}

						#close	{margin: 6 4 2 4px;font: normal 10px Tahoma; color: #2572A6; cursor: pointer; text-align: right;}
						.mediumblueboldlinkp				{font-weight: bold;		font-size: 12px;			color: #0066cc;			font-style: normal;			font-family: arial;			text-decoration: none;}

						a.mediumblueboldlinkp:link		{font-weight: bold;		font-size: 12px;			color: #0066cc;			font-style: normal;			font-family: arial;			text-decoration: none;}
						a.mediumblueboldlinkp:visited	{font-weight: bold;		font-size: 12px;			color: #0066cc;			font-style: normal;			font-family: arial;			text-decoration: none;}
						a.mediumblueboldlinkp:hover		{font-weight: bold;		font-size: 12px;			color: #003399;			font-style: normal;			font-family: arial;			text-decoration: none;}


						#close img	{width: 10px; height: 9px; margin: 0px; border: none;}

		.list li	{margin-left: 5px;}
		.tbl1		{width: 690px; margin-left: 5px;}
		.tbl1 .td1	{width: 125px;}
		.tbl1 .td2	{/*width: 540px;*/ /*421*/}
		.tbl1 .td2 td	{font: normal 11px Tahoma;}
		.tbl1 em		{margin-right: 6px; font-family: Tahoma; font-style: normal; color: #FF7A59;}

/*		.tbl1 input		{width: 13px; margin: 0px;}*/
		.largewhitebold	{font: normal 12px Arial; color: #669900;}
		.bluepatch		{padding: 7 11px; border-bottom: 1px solid #E5E5E5; background: url('images/arrow-grn-4x7.gif') no-repeat center left;}

		.end		{border-top: 1px solid #8EA6BE;}
/*		label		{cursor: pointer; padding-left: 6px; line-height: 20px;}*/
